@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Movie Details";
}

<h1>@ViewBag.MovieTitle</h1>

<h2>Movie #@ViewBag.MovieNumber</h2>

<h5>Description</h5>
<div>@Html.Raw(ViewBag.Description)</div>
			
<h5>Artists</h5>
@if (ViewBag.Artists.Length > 0)
{
	<div>
		<ul>
			@foreach (var artist in ViewBag.Artists)
			{
				<li>@artist</li>
			}
		</ul>
	</div>
}

